body{
	background-image: linear-gradient(to right, rgb(16, 211, 114) , rgb(192, 231, 205));

}
.container{
	width: 250px;
	height: 350px;
	margin: auto;

}

.calculadora{
	width: 300px;
	height: 400px;
	position: absolute;
	margin: 2% 2%;
	background-color: #2E2E2E;
	border-radius: 15px;
	border-bottom:5px solid #111111;
	border-right:5px solid #111111;
}

.tela{
	width: 100%;
	height: 40px;
	margin-top: 30px;
	text-align: right;
	font-size: 32px;
	background-color: #79A27A;
	border-radius: 3px;
	border:1px solid black;
}

.botao-liga-desliga{
	width: 30px;
	height: 30px;
	font-size: 18px;
	margin-top: 15px;
	margin-left: 5px;
	text-align: center;
	color: white;
	border-radius: 50px;
	border:1px solid #037738 ;
	border-bottom:2px solid #037738;
	border-right:2px solid #037738;
	background-color: #0DAD57;
	cursor:pointer;
}

.back{
	margin-left: 170px;
}

.botao-liga-desliga:hover{
	background-color: #628E76;

}

.teclado{
	width: 100%;
	height: 220px;
	margin-top: 10px;
	/*background-color: red;*/
	

}

.botao-single{
	display: inline-block;
	width: 19%;
	height: 45px;
	margin: 4px;
	text-align: center;
	color: white;
	font-size: 35px;
	border-radius: 5px;
	border:1px solid black;
	border-bottom:2px solid black;
	border-right:2px solid black;
	background-color: #2E2E2E;
	cursor: pointer;
}

.botao-single:hover{
	background-color: #545555;
}

.botao-soma{
	border:1px solid #037738 ;
	border-bottom:2px solid #037738;
	border-right:2px solid #037738;
	background-color: #0DAD57;
}

.botao-soma:hover{
	background-color: #628E76;
}
